//Colors
$blue: #0058A1;
$blueLight: #459FF6;
$blueMedium: #5084D3;
$blueGray: #C5D7F2;

$green: #99E699;

$grayBlue: #9CB6BC;
$gray1: #4a4a4a;
$gray4: #9B9B9B;
$gray2: #aeaeae;
$gray6: #ccc;
$gray5: #ddd;

$white: #fff;
$white2: #eff4f7;

$red: #FF4536;
$red2: #FC5145;

$yellow: #F4AF39;

$violet: #6a00a1;
//Fonts
$titillium: 'Titillium Web', sans-serif;


// Media Queries CS
$break-xs: 321px;
$break-sm: 481px;
$break-md: 769px;
$break-lg: 993px;
$break-xl: 1201px;
