<div [ngBusy]="busy">
  <div class="container-fluid login">
    <div class="row">
      <div class="col-md-7 image-building" style="background-image: url(/img/background-login.jpg)">
      </div>
      <div class="col-md-5 col-md-offset-7 baselogin">
        <div class="intrologin row">
          <div class="col-lg-12">
            <img src="/img/download.png" alt="IPCS">
          </div>
          <p class="col-lg-12">Reset your password</p>
        </div>
        <form novalidate class="loginform" #formForgotPassword="ngForm" (ngSubmit)="sendForgotPassword(formForgotPassword.valid)">
          <div class="row">
            <div class="col-lg-12">
              <label>
                <input type="email" [(ngModel)]="forgotPasswordModel.email" name="email"
                       [ngClass]="{'alertInput': !email.valid && (!email.pristine || formForgotPassword.submitted)}"
                       required #email="ngModel"
                       pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" />
                <div class="label-text">My email</div>
              </label>
              <small class="alert alert-danger" [hidden]="email.valid || (email.pristine && !formForgotPassword.submitted)">
                Please enter a valid email address
              </small>
            </div>
          </div>
          <div class="row" style="margin-top: 3em">
            <div class="col-lg-12">
              <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="{{captchaKey}}"></re-captcha>
            </div>
          </div>

          <button class="btn btn-primary form-control" type="submit">Send recovery email</button>
          <div class="createacc">
            <a routerLink="/login" class="normaLink">Go back to Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
