<div [ngBusy]="busy" class="container-fluid my-profile" align="center" style="margin-top: 100px;">

  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h1>Change Password</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="col-sm-offset-4 col-sm-4">

          <form class="form-horizontal" #changePassForm="ngForm" NgIf="active"
                (ngSubmit)="changePassword(changePassForm.valid)" novalidate>

            <div class="form-group text-left">
              <label>
                <input type="password" name="oldPassword"
                       [(ngModel)]="model.oldPassword" required #oldPassword="ngModel" minlength="8" maxlength="128" reverse="true"
                       [ngClass]="{'alertInput': !oldPassword.valid && (!oldPassword.pristine || changePassForm.submitted)}"
                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$">
                <div class="label-text">Current password</div>
              </label>
              <small class="alert alert-danger" [hidden]="oldPassword.valid || (oldPassword.pristine && !changePassForm.submitted)">
                Password needs to have at least 8 characters, one number,lowercases and uppercases
              </small>
            </div>
            <div class="form-group text-left">
              <label>
                <input type="password" name="password" [(ngModel)]="model.password" required #password="ngModel"
                       validateEqual="reEnterPassword" minlength="8" maxlength="128" reverse="true"
                       [ngClass]="{'alertInput': !password.valid && (!password.pristine || changePassForm.submitted)}"
                       pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$">
                <div class="label-text">New password</div>
              </label>
              <small class="alert alert-danger" [hidden]="password.valid || (password.pristine && !changePassForm.submitted)">
                Password needs to have at least 8 characters, one number,lowercases and uppercases
              </small>
            </div>
            <div class="form-group text-left">
              <label>
                <input type="password" name="reEnterPassword" [(ngModel)]="model.reEnterPassword" required #reEnterPassword="ngModel"
                       [ngClass]="{'alertInput': !reEnterPassword.valid && (!reEnterPassword.pristine || changePassForm.submitted)}"
                       validateEqual="password" minlength="8" maxlength="128" reverse="false"
                       pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$">
                <div class="label-text">Re-enter password</div>
              </label>
              <small class="alert alert-danger"
                     [hidden]="reEnterPassword.valid || (reEnterPassword.pristine && !changePassForm.submitted)">
                Passwords do not match
              </small>
            </div>
            <button type="submit" class="btn btn-primary"> Save </button>
          </form>


        </div>
    </div>
  </div>
</div>
