<div [ngBusy]="busy">
  <div class="container-fluid login">
    <div class="row" >
      <div class="col-md-7 image-building" style="background-image: url(/img/background-login.jpg)">
      </div>
      <div class="col-md-5 col-md-offset-7 baselogin">
        <div class="intrologin row">
          <div class="col-lg-12">
            <img src="/img/download.png" alt="IPCS">
          </div>
          <p class="col-lg-12">Set new password</p>

        </div>
        <form class="loginform" #setNewPassForm="ngForm" name="changePasswordForm" NgIf="active" (ngSubmit)="changePassword(setNewPassForm.valid)" novalidate [hidden]="!showForm">
          <div class="row">
            <div class="col-lg-12">
              <label class="form-group">
                <input type="password" name="password" [(ngModel)]="resetPassword.password" #password="ngModel"
                       required validateEqual="confirmPassword" maxlength="128" minlength="8" reverse="true"
                       pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"/>
                <div class="label-text">Password</div>
              </label>
              <small class="alert alert-danger" [hidden]="password.valid || (password.pristine && !setNewPassForm.submitted)">
                Password needs at least 8 characters, a number, lowercase and uppercase
              </small>
              <label class="form-group">
                <input type="password" name="confirmPassword" [(ngModel)]="resetPassword.confirmPassword"
                       #confirmPassword="ngModel" required validateEqual="password" maxlength="128" minlength="8" reverse="false"
                       pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"/>
                <div class="label-text">Confirm Password</div>
              </label>
              <small class="alert alert-danger" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !setNewPassForm.submitted)">
                Passwords do not match
              </small>
              <button type="submit" class="btn btn-primary form-control"> Reset Password </button>
              <div class="createacc">
            <a routerLink="/login" class="normaLink">Go back to Login</a>
          </div>
            </div>
          </div>
        </form>

        <div class="col-lg-12" [hidden]="!showMsjeSetPassword">
          <p>Your password was successfully reset.</p>
          <div class="createacc">
            <a routerLink="/login" class="normaLink">Go back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
