<ng-template #template>
  <div class="modal-body">
    <button type="button" class="close pull-right" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <div class="row" >
      <div class="col-lg-12">
        <h4>PRIVACY STATEMENT</h4>
      </div>
    </div>
    <div class="row" style="max-height: 400px;overflow-y: scroll">
      <div class="col-lg-12">
        <p>Your privacy is very important to Build Up. This privacy statement provides information about the personal
          information that Build Up collects, and the ways in which Build Up uses that personal information.</p>
        <h5><b>Personal information collection</b></h5>
        <p>Generally: When you send or enter information on our website, platform, software or online service (hereafter
          “Build Up”), we may store it. Such information includes information that can identify you, such as your first
          and last name, phone number, mailing address and email address, fax number, and billing information (such as
          your credit card number, cardholder name, expiration date, security code, and billing address). In addition,
          we may ask for other information from you. You can choose not to provide the information we request, but in
          some cases, if you don’t provide the requested information, we may not be able to complete the transaction.
          Some amount of personal information is required in order to use the site at all. For example, your email
          address is required in order to register as a member of Build Up, to receive the Build Up newsletter, to
          submit a customer service request, for us to respond to any questions or customer service requests, to
          participate in a poll, survey, review, contest, or sweepstakes, or to initiate transactions on our site.</p>
        <p>Information from Other Sources: In addition to getting information directly from you, we may acquire personal
          and non-personal information about you from our affiliates, business partners, and other third parties and add
          it to our account information.</p>
        <p>Automatically Collected Information: When you use Build Up, some information is automatically collected. As
          an example, we will collect your OS when you first download or open the application software, and your IP
          address, internet browser software and the referring website when visiting our landing page. Also, we may
          collect information about your activity on our application and/or website, whether you view specific offers,
          and any purchases made.</p>
        <p>Some examples of the information we may collect and use include, but are not limited to:</p>
        <ul>
          <li>information about your use of this website;</li>
          <li>information that you provide using for the purpose of registering with the website ;</li>
          <li>information about transactions carried out over this website; </li>
          <li>information that you provide for the purpose of subscribing to the website services; and</li>
          <li>any other information that you send to Build Up.</li>
        </ul>
        <h5><b>Using personal information</b></h5>
        <p>Some of the ways Build Up may use your personal information include but are not limited to: </p>
        <ul>
          <li>administering Build Up;</li>
          <li>personalizing Build Up for you;</li>
          <li>enabling your access to and use of Build Up services;</li>
          <li>sending to you products that you purchase;</li>
          <li>supplying to you services that you purchase;</li>
          <li>sending to you statements and invoices;</li>
          <li>collecting payments from you; and</li>
          <li>sending you marketing communications.</li>
        </ul>
        <p>
          Your billing information is kept safe; we use your billing information (cardholder name, credit card number, expiration date, billing address, and security code) in order to complete any transactions that you make on Build Up —whether purchases or refunds. We use other information about you to provide you with confirmations and updates, to manage your account, to communicate with you in general, to respond to your questions and comments, to improve our offerings, services, and website, to notify you about special offers, products, or services, to customize your experience with our website, to request information from you (including via surveys), to resolve disputes, collect fees, or resolve problems, to prevent illegal or potentially illegal activities, to enforce our Terms of Use, to comply with laws and regulations, and as otherwise described at the point of collection of your information.
        </p>
        <p>
          In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, Build Up may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
        </p>
        <h5><b>Who We Share Your Information With</b></h5>
        <p>We may share your information with the following people or businesses:</p>
        <p>
          Third-party merchants and Service Providers: We may provide your information to third-party merchants or service providers, including credit card processors, business analytics, customer service, marketing firms, for the distribution of polls, surveys, promotions, or sweepstakes programs, and fraud prevention efforts. We may also allow third-party merchants or service providers to collect information for us, including information required to be able to operate features on Build Up or to be able to provide advertisements that target your specific interests. Third-party merchants may access and collect information, but only as needed to perform their specific functions. We do not control the data security practices of third-party business partners and/or Service Providers.
        </p>
        <p>
          People you communicate with: When you share information and communicate using Build Up, you choose the audience who can see what you share. That includes, but is not limited to, third-party apps, websites or other services that use, or are integrated with, our Services and who may receive information about what you post or share.
        </p>
        <p>
          Business partners: We may provide your information to business partners with whom we jointly offer products or services, or whose products or services are offered on Build Up. If a third party is involved in a product or service offered on Build Up, it will be evident because their name will appear either alone or with ours. If you access, use, or purchase any of the services offered by our business partners, we may share information about you with them. Such information may include your personal information. We do not control the data security practices of third-party business partners and/or Service Providers.
        </p>
        <p>
          Referring websites: If another website referred you to our website (whether through a link on the site or otherwise), we may share information about you with the referring website. We do not place limitations on referring websites’ use of your personal information. We recommend that you review the privacy policies of any website that may have referred you to our website.
        </p>
        <p>
          Legal Purposes: We may share your personal information in response to a subpoena, court order, or other legal process. We may share your information to substantiate legal claims or rights, defend legal claims, or as is required by law. In all such cases, we reserve our right to raise or waive any legal claim, objection, or right we may have.
        </p>
        <p>
          Illegal Activity: If we feel it is necessary to investigate or take action in response to illegal activities, whether suspected or actual, we may take any action authorized by law. Additionally, we may act to defend the rights, property, or safety of our company or website, our customers, merchants, or others, whether in connection with this agreement, any other agreements, or other source of law.
        </p>
        <p>
          Corporate Transactions: We may share your personal information in connection with a corporate transaction, whether a sale, merger, consolidation, partnership, or in the unlikely event of bankruptcy.
        </p>
        <p>
          In addition to the above, we may also share anonymous or aggregate information with third parties, including advertisers, merchants, partners, and investors. For example, we may share with advertisers our website traffic and any statistics related to visitor interaction with our website.
        </p>
        <p>
          NOTWITHSTANDING THE FOREGOING, WE ADDITIONALLY RESERVE OUR RIGHT TO USE THE PROVIDED INFORMATION FOR ANY LEGITIMATE PURPOSE WE MAY SEE FIT.
        </p>
        <h5><b>Accessing or Changing Your Information</b></h5>
        <p>You can access and update your information on Build Up by signing into your account. You can close your account by contacting us at support@buildupsystems.com. If you close your account, you will no longer be able to sign in or access any of your personal information on your account and your information may be permanently deleted. However, you can open a new account whenever you like. While your account will be closed, we may keep some information related to your account on file, for analytical or record keeping purposes.</p>
        <h5><b>Securing your data</b></h5>
        <p>Your trust is important to us. We are completely committed to protecting information that we collect on our website. Although we can’t guarantee the security of our site, we have put in place a number of administrative, technical, virtual, and physical security methods to protect the information that you provide to us. For example, we limit access to personal information to authorized employees solely for business functions. Additionally, we use encryption when transmitting your information between our system and your system, using firewalls and intrusion detection systems to help prevent unauthorized people from accessing and viewing your information.</p>
        <p>
          Build Up will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.
        </p>
        <h5><b>Cross-border data transfers</b></h5>
        <p>Information that Build Up collects may be stored and processed in and transferred between any of the countries in which Build Up operates to enable the use of the information in accordance with this privacy policy.</p>
        <p>In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.</p>
        <p>If you are using Build Up from outside of the United States, please be aware that your information may be submitted to, stored, and processed in the United States, where our service provider’s servers are located and our central database operates. The laws of your country might be more stringent than the laws of the United States, but we do take many precautions to protect your information. By using our services, you understand that your information may be submitted to our facilities as well as any third parties with whom we may share it in conformance with this Policy.</p>
        <p>You agree to such cross-border transfers of personal information.</p>
        <h5><b>Updating this statement</b></h5>
        <p>Build Up may update this privacy policy by posting a new version on this website.  </p>
        <p>You should check this page occasionally to ensure you are familiar with any changes.  </p>
        <h5><b>Other websites and/or external links</b></h5>
        <p>This website may contain links to other websites.  </p>
        <p>Build Up is not responsible for the privacy policies or practices of any third party. Any outside links posted or shared through Build Up are not operated under this Privacy Policy. Any such website may have its own privacy policy. We recommend that you review and understand any such privacy policy posted on any such website to understand how they may collect, use, and disclose your personal information.</p>
        <h5><b>Contact Build Up</b></h5>
        <p>If you have any questions about this privacy policy or Build Up’s treatment of your personal information, please write:</p>
        <ul>
          <li>by email to support@buildupsystems.com</li>
        </ul>
        <h5><b>Credit</b></h5>
        <p>This document was created using a Contractology template available at http://www.contractology.com.</p>
      </div>
    </div>
  </div>

</ng-template>
